@{
    ViewBag.Title = "打印发票";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script src="/Content/scripts/plugins/Amount/ArabiaToChinese.js"></script>
<script src="/Content/scripts/plugins/Lodop/LodopFuncs.js"></script>
<style>
    body { width: 100%; background-color: #ccc; margin: 0px auto; padding: 0px; }
    .ui-jqgrid .form-control { width: 100%; }
    .ui-jqgrid .ui-jqgrid-view input { font-size: 12px; }
    .brs { border: 0px; border-bottom: solid 1px #000000; }
    .top { width: 100%; margin: 0 auto; height: 35px; line-height: 30px; position: fixed; _position: absolute; z-index: 9999; left: 0; top: 0; text-align: center; background: #808080; }
    .Noprint { width: 120px; }
    .show-info { border: 1px solid #ccc; margin: 0 10px; }
    .show-info .info-title { writing-mode: horizontal-tb; padding: 0 10px; width: 10px; border-right: 1px solid #ccc; }
    .show-info input { margin: 1px 5px; border: 1px solid #ccc; }

    .ui-autocomplete { width:300px;}
    .ui-autocomplete li { width:300px;}
</style>
<!--jqgrid表格组件start-->
<link href="/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>

<!--jquery autocomplete-->
@*<script src="/Content/scripts/plugins/autocomplate/browser.js"></script>
<link href="~/Content/scripts/plugins/autocomplate/autocomplete.css" rel="stylesheet" />
<script src="/Content/scripts/plugins/autocomplate/jquery.autocomplete.js"></script>*@

<link href="~/Content/scripts/plugins/Autocomplete/styles.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/Autocomplete/jquery.autocomplete.js"></script>

<style>
     .ui-autocomplete {
         max-height: 100px;
         overflow-y: auto;
         /* 防止水平滚动条 */
         overflow-x: hidden;
     }
     /* IE 6 不支持 max-height
    * 我们使用 height 代替，但是这会强制菜单总是显示为那个高度
    */
     * html .ui-autocomplete {
         height: 100px;
     }
</style>

<script>
    $(function () {
        $('.auto_buy').autocomplete({
            serviceUrl: '/FinanceManage/InvoiceInfo/GetListJson',
            params: { q: $(".auto_buy").val() },
            paramName: "q",
            width: 500,
            height: 200,
            onSelect: function (suggestion) {
                console.log(suggestion)
                var data = suggestion.data;
                $("#ghdwmc").val(data.khmc);
                $("#ghdwsbh").val(data.khsh);
                $("#ghdwdzdh").val(data.khdz);
                $("#ghdwyhzh").val(data.khkhyhzh);

                $(".autocomplete-suggestions").hide();
            },
            transformResult: function (response, currentValue) {
                var data = eval(response);

                this.suggestion = $.map(data, function (item, index) {
                    return { value: item.khmc, data: item };
                });

                return { displayUsers: "", suggestions: this.suggestion };
            }
        });

        $(document).on("click", ".autocomplete-suggestion", function () {
        });
    });
</script>


<!--表格组件end-->
<script src="/Content/scripts/plugins/Amount/ArabiaToChinese.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        getGrid();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/TenementManage/Feeticket/GetCostByTicketId",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }

    $.fn.serializeJson = function () {
        var serializeObj = {};
        $(this.serializeArray()).each(function () {
            serializeObj[this.name] = this.value;
        });
        return serializeObj;
    };

    function getGrid() {
        var $grid = $("#gridTable");
        $grid.jqGrid({
            unwritten: false,
            url: "/TenementManage/Feeticket/GetPrintListJson?keyValue=" + keyValue,
            postData: { queryJson: JSON.stringify($("#form1").serializeJson()) },
            datatype: "json",
            autowidth: true,
            colModel: [
                { label: "货物或应税劳务、服务名称", name: "feedispname", align: "left", sortable: false },
                { label: "规格型号", name: "sku", align: "left", width: 60, sortable: false, formatter: function () { return "";} },
                { label: "单位", name: "unit", align: "left", sortable: false, width: 40, formatter: function () { return "元" } },
                { label: "数量", name: "num", align: "left", sortable: false, width: 40, formatter: function () { return "1" } },
                { label: "单价", name: "fmoney", align: "left", width: 50, sortable: false },
                {
                    label: "金额", name: "je", align: "left", width: 50, sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return '<input name="dj" type="text" class="editable center decimal disabled" isvalid="yes" checkexpession="Double" value="' + rowObject.fmoney + '" />';
                    }},
                { label: "税率", name: "taxrate", align: "left", sortable: false, width: 70 },
                {
                    label: "税额", name: "se", align: "left", sortable: false, width: 50, formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.taxrate != undefined) {
                            var rate = parseInt(rowObject.taxrate.replace('%', ''));
                            return toDecimal(rowObject.fmoney * (rate / 100));
                        }
                    }
                }
            ],
            viewrecords: true,
            rowNum: 1000,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                var totalamount = $(this).getCol("fmoney", false, "sum").toFixed(2);
                var totalse = $(this).getCol("se", false, "sum").toFixed(2);
                totalamount = Number(totalamount) + Number(totalse);

                //合计
                $(this).footerData("set", {
                    "feedispname": "大写金额 <span id='TotalCapital'>" + Arabia_to_Chinese(toDecimal(totalamount)) + "</span>",
                    "taxrate": "小写金额 <span id='TotalFeeincome'>" + toDecimal(totalamount) + "</span>",
                });
                $('table.ui-jqgrid-ftable td').prevUntil().css("border-right-color", "#fff");
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_subject"]').css("text-align", "right");
            }
        });
        $grid.find('.decimal').attr('onfocus', 'IsMoney(this.id)');
        //价格文本框事件
        $grid.find('.decimal').click(function () {
            $(this).select();
        });


    }

    // 价格文本框换算
    var $grid = $("#gridTable");
    cacleTotalPrice($grid);
    $grid.find('.decimal').keyup(function () {
        cacleTotalPrice($grid);
    });

    function cacleTotalPrice($grid) {
        var price = 0.00;
        $grid.find("tbody tr").each(function (i) {
            var price = $(this).find('td:eq(6)').find('input').val();
            console.log(price);
            if (price != "" && price != undefined) {
                price += Number(price);
            }
        });
        $("#TotalCapital").text(Arabia_to_Chinese(toDecimal(price)));
        $("#TotalFeeincome").text(toDecimal(price));
    }

    // 打印发票;
    function AcceptClick(type) {
        var keyValue = request('keyValue');
        var queryJson = $("#form1").serializeJson();
        var proArrays = new Array();
        var $grid = $("#gridTable");


        $grid.find("tbody tr").each(function (i) {
            if (i > 0) {
                var item = {
                    fphxz: '',
                    spmc: $(this).find('td:eq(0)').text(),
                    spsm: '',
                    ggxh: '',
                    dw: '元',
                    spsl: 1,
                    dj: $(this).find('td:eq(4)').text(),
                    je: $(this).find('td:eq(5)').find('input').val(),
                    kcje: '',
                    sl: $(this).find('td:eq(6)').text(),
                    se: $(this).find('td:eq(7)').text(),
                    hsbz: '',
                    spbm: '',
                    zxbm: '',
                    yhzcbs: '0',
                    slbs: ''
                };

                proArrays.push(item);
            }
        });

        $.post("/TenementManage/Feeticket/GetPrintXML", { keyValue: keyValue, type: type, queryJson: JSON.stringify(queryJson), skus: JSON.stringify(proArrays)  }, function (res) {
            if (res.type == 3) {
                alert(res.message);
            } else {
                var mo = document.getElementById("ieOCX");
                if (mo.OperateDiskX == undefined) {
                    mo = document.getElementById("chromeOCX");
                }
                var retXml = "";
                try {
                    retXml = mo.OperateDiskX(decodeURI(res.resultdata));
                } catch (e) {
                    console.dir(e);
                }

                var xmldoc = loadXML(retXml);

                var elements = xmldoc.getElementsByTagName("output");
                var retdata = "";
                for (var i = 0; i < elements.length; i++) {
                    var name = elements[i].getElementsByTagName("returncode")[0].firstChild.nodeValue;
                    retdata = retdata + "返回编码：" + name;
                    var ip = elements[i].getElementsByTagName("returnmsg")[0].firstChild.nodeValue;
                    retdata = retdata + "返回信息：" + ip;
                }

                // 订单打印成功保存当前页面数据
                var is_success = true;
                if (is_success) {
                    $.post("/TenementManage/Feeticket/SavePrintData", { queryJson: JSON.stringify(queryJson) }, function (res) {
                        alert("打印成功");
                    }, "json");
                }
            }
        }, "json");
    }
</script>
<div id="divTops">
    <div class="top" id="top">
        <input type="button" class="Noprint" value="打印普票" onclick="javascript: AcceptClick(0);" />&nbsp;&nbsp;
        <input type="button" class="Noprint" value="打印专票" onclick='javascript: AcceptClick(1);' />
        <input type="button" class="Noprint" value="关    闭" onclick='window.close();' />
    </div>
</div>
<div id="divP" style="margin:0 auto; width:900px; background-color:#ffffff; height:700px;margin-top: 35px;">
    <div id="divPrint" class="billss" style="margin:0 auto;width:96%;">
        <form id="">
            <input type="hidden" name="incomeid" id="incomeid" />
            <input type="hidden" name="receive_id" id="receive_id">
            <input type="hidden" name="is_income" id="is_income">
            <input type="hidden" name="is_otherIncome" id="is_otherIncome">
            <input type="hidden" name="is_group" value="1">
            <div class="printArea fapiao">
                <table class="form" style="width: 100%; margin-bottom: 5px;font-size:12px; ">
                    <tr>
                        <th class="formTitle" style="width: 30px; text-align:left;">客户</th>
                        <td class="formValue">
                            <input id="propertyname" type="text" class="editable center decimal disabled brs" />
                        </td>
                        <td style="width:220px">&nbsp;</td>
                        <td class="formValue" style="text-align:right;">
                            <table class="form">
                                <tr>
                                    <td style="width:50px;">
                                        <input id="txtYear" type="text" class="editable center decimal disabled brs" value="@ViewBag.year" />
                                    </td>
                                    <th class="formTitle" style="width: 30px; text-align:center;">年</th>
                                    <td style="width:50px;">
                                        <input id="txtMouth" type="text" class="editable center decimal disabled brs" value="@ViewBag.month" />
                                    </td>
                                    <th class="formTitle" style="width: 30px; text-align:center;">月</th>
                                    <td style="width:50px;">
                                        <input id="txtDay" type="text" class="editable center decimal disabled brs" value="@ViewBag.day" />
                                    </td>
                                    <th class="formTitle" style="width: 30px; text-align:center;">日</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buy-info show-info">
                <table style="width:100%;">
                    <tr>
                        <td class="info-title">购买方</td>
                        <td style="padding-left:5px;">
                            <table style="width: 400px;">
                                <tr>
                                    <td style="width:100px;">名　　　　称：</td>
                                    <td><input id="ghdwmc" class="auto_buy" name="ghdwmc" type="text" class="editable" style="width:300px" /></td>
                                </tr>
                                <tr>
                                    <td>纳税人识别号：</td>
                                    <td><input id="ghdwsbh" name="ghdwsbh" type="text" class="editable" /></td>
                                </tr>
                                <tr>
                                    <td>地址　、电话：</td>
                                    <td><input id="ghdwdzdh" name="ghdwdzdh" type="text" class="editable" /></td>
                                </tr>
                                <tr>
                                    <td>开户行及账号：</td>
                                    <td><input id="ghdwyhzh" name="ghdwyhzh" type="text" class="editable" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="gridPanel" style="margin:0 10px;">
                <table id="gridTable"></table>
            </div>
            <div class="sell-info show-info">
                <table style="width:100%;">
                    <tr>
                        <td class="info-title">销售方</td>
                        <td style="padding-left:5px;">
                            <table style="width:450px;">
                                <tr>
                                    <td style="width:100px;">名　　　　称：</td>
                                    <td><input name="xhdwmc" class="auto_name" type="text" class="editable" /></td>
                                </tr>
                                <tr>
                                    <td>纳税人识别号：</td>
                                    <td><input name="xhdwsbh" type="text" class="editable" /></td>
                                </tr>
                                <tr>
                                    <td>地址　、电话：</td>
                                    <td><input name="xhdwdzdh" type="text" class="editable" /></td>
                                </tr>
                                <tr>
                                    <td>开户行及账号：</td>
                                    <td><input name="xhdwyhzh" type="text" class="editable" /></td>
                                </tr>
                            </table>
                        </td>
                        <td class="info-title">备注</td>
                        <td><textarea name="bz" style="height:80px; width:300px;" class="editable"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="botom-info" style="margin-top:10px;">
                <table class="form" style="width: 100%; margin-top: 5px;font-size:12px; ">
                    <tr>
                        <th class="formTitle" style="width: 50px; text-align:left;">收 款 人：</th>
                        <td class="formValue"><input name="skr" type="text" /></td>
                        <th class="formTitle" style="width: 40px; text-align:left;">复    核：</th>
                        <td class="formValue"><input name="fhr" type="text" /></td>
                        <th class="formTitle" style="width: 50px; text-align:left;">开 票 人：</th>
                        <td class="formValue"><input name="kpr" type="text" /></td>
                        <th class="formTitle" style="width: 80px; text-align:left;">销售方（章）：</th>
                        <td class="formValue"><input name="xiaoshoufnag" type="text" /></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<div id="printBody" style="display:none;">
    <script>
        var loadXML = function (xmlString) {
            var xmlDoc = null;

            if (!window.DOMParser && window.ActiveXObject) {
                var xmlDomVersions = ['MSXML.2.DOMDocument.6.0', 'MSXML.2.DOMDocument.3.0', 'Microsoft.XMLDOM'];
                for (var i = 0; i < xmlDomVersions.length; i++) {
                    try {
                        xmlDoc = new ActiveXObject(xmlDomVersions[i]);
                        xmlDoc.async = false;
                        xmlDoc.loadXML(xmlString); //loadXML方法载入xml字符串
                        break;
                    }
                    catch (e) {
                    }
                }
            }
            else if (window.DOMParser && document.implementation && document.implementation.createDocument) {
                try {
                    domParser = new DOMParser();
                    xmlDoc = domParser.parseFromString(xmlString, 'text/xml');
                }
                catch (e) {
                }
            }
            else {
                return null;
            }

            return xmlDoc;
        }
    </script>
    <object id="ieOCX" name="ieOCX" height="0" width="0" classid="CLSID:7E777ADB-F89A-49A3-BCC9-76B353AD0775"></object>
    <object id="chromeOCX" height="0" width="0" type="application/x-itst-activex" clsid="{7E777ADB-F89A-49A3-BCC9-76B353AD0775}"></object>
</div>