<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="true" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.hurongclub.com" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="上海益民互融金融信息服务有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="物业管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="HuRongClub.开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="互融邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- 收件箱 -->
  <add key="MailTo" value="wuyesystem@sina.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://10.1.0.234:8081/signalr" />

  <!--Redis 服务器地址-->
  <add key="RedisConection" value="~/XmlConfig/redis.config" />

  <!--    2.6.5.增值税专用发票    -->
  <!--应用类型代码 1：国税2：地税-->
  <add key="yylxdm" value="1" />
  <!--税控盘编号-->
  <add key="skpbh" value="" />
  <!--税控盘口令-->
  <add key="skpkl" value="" />
  <!--税务数字证书密码-->
  <add key="keypwd" value="" />
  <!--发票类型代码 固定为“004”-->
  <add key="fplxdm" value="004" />
  <!--开票类型-->
  <add key="kplx" value="0" />
  <!--特殊票种标识 “00”不是“01”农产品销售“02”农产品收购-->
  <add key="tspz" value="00" />

  <!--销货单位识别号 与税控盘保持一致-->
  <add key="xhdwsbh" value="" />
  <!--销货单位名称 以税控盘中存储为准-->
  <add key="xhdwmc" value="" />
  <!--销货单位地址电话-->
  <add key="xhdwdzdh" value="" />
  <!--销货单位银行帐号-->
  <add key="xhdwyhzh" value="" />
  <!--购货单位识别号-->
  <add key="ghdwsbh" value="" />
  <!--购货单位名称-->
  <add key="ghdwmc" value="" />
  <!--购货单位地址电话-->
  <add key="ghdwdzdh" value="" />
  <!--购货单位银行帐号-->
  <add key="ghdwyhzh" value="" />

  <!--含税税率标识 0是普通征收，1是减按计增，2是差额征收-->
  <add key="hsslbs" value="0" />
  <!--费用项目-->
  <add key="fyxm" value="" />
  <!--发票行性质 0 正常行1 折扣行2 被折扣行-->
  <add key="fphxz" value="0" />
  <!--商品编码-->
  <add key="spbm" value="" />
  <!--优惠政策标识 0是不使用，1是使用-->
  <add key="yhzcbs" value="0" />
  <!--清单标志 0 无清单1 有清单-->
  <add key="qdbz" value="0" />
  <!--开票机号-->
  <add key="kpjh" value="0" />
  <!--签名参数 固定“0000004282000000”-->
  <add key="qmcs" value="0000004282000000" />

  <!--  2.6.6.增值税普通发票   -->
  <!--纳税人识别号-->
  <add key="nsrsbh" value="" />
  <!--作废类型 0：空白发票作废1：已开发票作废-->
  <add key="zflx" value="0" />
  <!--作废人-->
  <add key="zfr" value="" />
</appSettings>