@{;
ViewBag.Title = "缴费确定页面";
Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<style>
    .ui-jqgrid .form-control { width: 100%; }
    .ui-jqgrid .ui-jqgrid-view input { font-size: 12px; }
    .brs { border: 1px solid #ccc; }
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {
        InitialPage;
        GetOrderEntryGrid();
        InitControl();
        //票据
        $("#typelist").ComboBox({
            description: "==请选择=="
        });
        $("#codelist").ComboBox({
            description: "==请选择==",
            height: "260px"
        });
        $("#typelist-option").find('li').click(function () {
            var id = $(this).attr('data-value');
            $("#codelist-option").find(".ui-select-option-content").html("");
            $("#codelist").attr("data-value", "").attr("data-text", "");
            $("#codelist").find('.ui-select-text').html('==请选择==').css('color', '#999');
            if (id != "0" && id != "" && id != undefined) {
                $("#codelist").ComboBox({
                    url: "/TenementManage/Feeticket/GetSelList?status=0&type=" + id,
                    id: "ticket_id",
                    text: "ticket_code",
                    description: "==请选择==",
                    height: "260px"
                });

                var _dataValue = $("#codelist-option li").eq(1).attr("data-value");
                if (_dataValue != undefined && _dataValue != "") {
                    $("#codelist-option li").eq(1).click();
                }
            }
        });
    });

    //初始化页面url:
    function InitialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
            }, 200);
            e.stopPropagation();
        });
    }
    //加载明细表
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            unwritten: false,
            datatype: "local",
            height: '100%',
            autowidth: true,
            colModel: [
                { label: 'income_id', name: 'income_id', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'owner_id', name: 'owner_id', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'room_id', name: 'room_id', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'rentcontract_id', name: 'rentcontract_id', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'feeitem_id', name: 'feeitem_id', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'fee_year', name: 'fee_year', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: 'fee_month', name: 'fee_month', width: 100, align: 'left', sortable: false, resizable: false, hidden: true },
                { label: '所属物业', name: 'property_name', width: 260, align: 'left', sortable: false, resizable: false },
                { label: '费用科目', name: 'feeitem_name', width: 150, align: 'left', sortable: false, resizable: false },
                { label: '应收年月', name: 'fee_years', width: 150, align: 'left', sortable: false, resizable: false },
                { label: '应收费用', name: 'fee_income', width: 120, align: 'left', sortable: false, resizable: false },
                { label: '已缴费用', name: 'fee_already', width: 120, align: 'left', sortable: false, resizable: false },
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "fee_years": "合计：",
                    "fee_income": "<span id='Totalfee_income'>0.00</span>",
                });
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_fee_income"]').prevUntil().css("border-right-color", "#fff");
            }
        });
        var $total = keyValue.split(',').length;

        for (var i = 0; i < $total; i++) {
            var rowdata = {
                income_id: '<input name="income_id" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                owner_id: '<input name="owner_id" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                room_id: '<input name="room_id" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                rentcontract_id: '<input name="rentcontract_id" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                feeitem_id: '<input name="feeitem_id" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                fee_year: '<input name="fee_year" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                fee_month: '<input name="fee_month" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                fee_already: '<input name="fee_already" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                property_name: '<input name="property_name" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                feeitem_name: '<input name="feeitem_name" type="text" class="editable center decimal disabled" readonly="readonly" />',
                fee_years: '<input name="fee_years" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                fee_income: '<input name="fee_income" type="text" class="editable center decimal disabled"  readonly="readonly" />',
                fee_already: '<input name="fee_already" type="text" class="editable center decimal disabled"  readonly="readonly" />',
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };

    }
    //初始化控件
    function InitControl() {
        var $property_name = "";
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/TenementManage/Feeincome/GetListsJson?type=5&owner_id=" + keyValue,
                success: function (data) {
                    var orderEntry = data;
                    //合计
                    var TotalPrice = 0.00;
                    $("#gridTable").find('[role=row]').each(function (i) {
                        var row = orderEntry[i - 1];
                        if (row != undefined) {
                            $(this).find('input[name="income_id"]').val(row.income_id);
                            $(this).find('input[name="owner_id"]').val(row.owner_id);
                            $(this).find('input[name="room_id"]').val(row.room_id);
                            $(this).find('input[name="rentcontract_id"]').val(row.rentcontract_id);
                            $(this).find('input[name="feeitem_id"]').val(row.feeitem_id);
                            $(this).find('input[name="fee_year"]').val(row.fee_year);
                            $(this).find('input[name="fee_month"]').val(row.fee_month);
                            $(this).find('input[name="property_name"]').val(row.property_name);
                            $(this).find('input[name="feeitem_name"]').val(row.feeitem_name);
                            $(this).find('input[name="fee_years"]').val(row.fee_years.split(' ')[0]);
                            $(this).find('input[name="fee_income"]').val(row.fee_income);
                            $(this).find('input[name="fee_already"]').val(row.fee_income);

                            if (row.fee_income != "" && row.fee_income != undefined) {
                                TotalPrice += Number(row.fee_income);
                            }
                            $property_name = row.property_name;
                        }
                    });

                    $("#Totalfee_income").text(toDecimal(TotalPrice));
                }
            });
            if ($property_name != null && $property_name != "") {
                if ($property_name.indexOf('/') > -1) {
                    var $property_names = $property_name.split('/');
                    var $name = $property_names[$property_names.length - 1];
                    $("#property_name").text($property_name.substring(0, ($property_name.length - ($name.length + 1))));
                    $("#name").text($name);
                }
                else {
                    $("#name").text($property_name);
                }
            }
        }
    }
    //保存表单;
    var issend = false;
    function AcceptClick() {
        if (issend) {
            alert("请不要重复点击操作");
        }
        if (!$('#form1').Validform()) {
            return false;
        }

        issend = true;
        var codelistvalue = $("#codelist").attr('data-value');
        if (!!codelistvalue) {
            var $isprint = "0";
            if ($("#isprint").is(':checked')) {
                $isprint = "1";
            }
            var $printname = $.trim($("#printname").val());
            var $paydate = $.trim($("#paydate").val());
            var FeeincomeEntryJson = [];
            $("#gridTable").find('[role=row]').each(function (i) {
                if (!!$(this).find('input[name="income_id"]').val()) {
                    FeeincomeEntryJson.push({
                        income_id: $(this).find('input[name="income_id"]').val(),
                        owner_id: $(this).find('input[name="owner_id"]').val(),
                        room_id: $(this).find('input[name="room_id"]').val(),
                        rentcontract_id: $(this).find('input[name="rentcontract_id"]').val(),
                        owner_id: $(this).find('input[name="owner_id"]').val(),
                        fee_year: $(this).find('input[name="fee_year"]').val(),
                        fee_month: $(this).find('input[name="fee_month"]').val(),
                        fee_income: $(this).find('input[name="fee_income"]').val(),
                        fee_years: $(this).find('input[name="fee_years"]').val(),
                        fee_already: $(this).find('input[name="fee_already"]').val(),
                        isprint: $isprint,
                        printname: $printname,
                        receive_date: $paydate
                    });
                }
            });
            var postData = $("#form1").GetWebControls(keyValue);
            postData["FeeincomeEntryJson"] = JSON.stringify(FeeincomeEntryJson);

            $.SaveForm({
                url: "/TenementManage/Feeincome/FixedCost?keyValue=" + keyValue + "&ticket_id=" + codelistvalue,
                param: postData,
                loading: "正在保存数据...",
                close: false,
                success: function () {
                    if (request('type') == "1") {
                        $.currentIframe().$("#gridTablesRent").trigger("reloadGrid");
                    }
                    else {
                        $.currentIframe().$("#gridTable").trigger("reloadGrid");
                    }
                    if (!$('#isprint').is(':checked')) {
                        var url = '/TenementManage/Feeincome/PrintFrom?type=6&paydate='+ $paydate + '&keyValue=' + keyValue + '' ;

                        console.log(url);
                        window.open(url);

                        //window.location.href = "/TenementManage/Feeincome/PrintFrom?type=6&keyValue=" + keyValue;
                    }
                    issend = false;
                    dialogClose();
                }
            });
        }
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form" style="width: 100%; margin-bottom: 10px;">
        <tr>
            <th class="formTitle" style="width: 60px;">房间单元：</th>
            <td class="formValue">
                <span id="property_name"></span>
            </td>
            <th class="formTitle">业主姓名：</th>
            <td class="formValue">
                <span id="name"></span>
            </td>
            <th class="formTitle">收费日期：<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="paydate" type="text" value="@HuRongClub.Util.Time.GetToday()" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="width: 60px;">票据类型：</th>
            <td class="formValue">
                <div id="typelist" type="select" class="ui-select">
                    <ul>
                        <li data-value="0">==请选择==</li>
                        <li data-value="00">收据</li>
                        <li data-value="01">发票</li>
                        <li data-value="02">停车发票</li>
                        <li data-value="04">虹联发票</li>
                        <li data-value="05">虹联收据</li>
                        <li data-value="06">新厦发票</li>
                    </ul>
                </div>
            </td>
            <th class="formTitle">票据号码：<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="codelist" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
    </table>
    <div class="gridPanel">
        <table id="gridTable"></table>
    </div>
    <table class="form" style="width: 50%; margin-top: 5px; margin-right:10px;">
        <tr>
            <th class="formTitle" style="width: 70px;">不需要发票：</th>
            <td class="formValue" style="width:50px;">
                <input id="isprint" type="checkbox" />
            </td>
            <th class="formTitle"></th>
            <td class="formValue">
                <div style="display:none;"><input id="printname" type="text" class="form-control" /></div>
            </td>
        </tr>
    </table>
</div>